.homePage {
    display: flex;
    justify-content: space-between;
    height:100vh;
    .textContainer {
        flex: 3;
        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            background-color: rgb(176, 127, 255);
           .title {
            font-size: 40px;
           }
          
        }

       

    }
    .imgContainer {
        flex: 2;       
        background-color: rgb(246, 177, 219);
        position: relative;
        img {
            width: 115%;            
            position: absolute;
            right: 0;
            
        }
    }
}